<h2><%= current_user.username %></h2>

<div class ="user_events">
  <h4>
    events created by <%= current_user.username %>
  </h4>
  <ul class="user_list">
  <% current_user.events.each do |event| %>
    <li><%= event.title %></li>
  <% end %>
  </ul>
</div><div class="upcoming_events">
  <div class="upcoming_title">
    <h4> Future Events:</h4>
  </div>
  <% @upcoming_events.each do |event| %>
    <ul class="events_list">
      <li class="single_event"> <%= event.title %></li>
    </ul>
  <% end %>
</div>

<br>
<hr class="middle_bar">
<br>

<div class="past_events">
  <div class="past_title">
    <h4> Past Events:</h4>
  </div>
  <% @past_events.each do |event| %>
    <ul class="events_list">
      <li class="single_event"> <%= event.title %></li>
    </ul>
  <% end %>
</div>